#dothespreadtitle {
    float: left;
}

#google_translate_element {
    float: right
}

.dothespreadfont {
    font-family: 'batik-font';
    font-size: 3em;
    width: 300px;
    text-align: right;
    color: #cc0000
}

.smallbluefont {
    font-family" 'courier';
	font-size: 1.5em;
    width: 300px;
    text-align: right;
    color: #0040A0
}

#countdownclock {
    vertical-align: top;
    float: left;
}

#mainsection {
    float: left;
    width: 700px;
    font-size: 1.0em;
}

#mainsectiontable th {
 	width: 700px;
    background-color: #cfcfcf
	
}

#mainsectiontable td {
    vertical-align: top;
    text-align: center;
}

#social {
    align: center
}

.socialicon {
    font-size: 1em;
    color: #0040A0;
	text-align: center;
	align: center;
	border: 0px;
}

.dothespreadcolor {
    color: #cc0000;
}

.thedate {
    font-size: 1.5em;
    color: #cc0000;
    text-align: center;
    border: 0px 0px 0px 0px;
}

.thetime {
    font-size: 1.5em;
    color: #cc0000;
    text-align: center;
    border: 0px 0px 0px 0px;
}

.daysLeft {
    font-size: 2em;
    color: #0040A0;
    text-align: center;
    border: 0px 0px 0px 0px;
}


@font-face {
        font-family: 'batik-font';
        src: url('/fonts/batik.ttf')  format('truetype'),
}


.contentpanel {
	background-color: #cfcfcf;
	width:"100%";
	padding:10px 15px;
	text-align: left;
}

body {
    font-family: 'batik-font'
}

.video_thumbnail {
   margin-left: 0 ! important;
}

.videos_container {
    float: left;
    margin-bottom: 2em;
    width: 100%;
}

.video_thumbgroup {
    float: left;
    width: 175px;
    height: 175px;
    line-height: 1.1em;
    font-size: 11px;
    display: inline;
    overflow: hidden;
}

.video_metadata {
    margin-top: 0;
    text-align: left;
    padding: 0 5% 0 5%;
}

.video_metadata_item {
    margin-bottom: auto ! important;
    margin-left: 0 ! important;
}

.msgError {
    color : red
}

.fg-button { clear:left; margin:0 0px 0px 0px; padding: 0em 2.5em 0em 2.5em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1}
