#dothespreadtitle {
    float: left;
}

#google_translate_element {
    float: right
}

.dothespreadfont {
    font-size: 3em;
    color: red
}

.smallfont {
    font-size: 1em;
    text-align: right;
}

#menu {
}

#countdownclock {
    vertical-align: top;
    float: left;
}

#mainsection {
    float: left;
    width: 600px;
    font-size: 0.5em;
}

#mainsectiontable th {
    background-color: gray
}

#mainsectiontable td {
    vertical-align: top;
}

#social {
    align: center
}

.dothespreadcolor {
    color: red;
}

#main {
    width: 100%;
}

.thedate {
    font-size: 1.5em;
    color: red;
    text-align: center;
    border: 0px 0px 0px 0px;
}

.thetime {
    font-size: 1.5em;
    color: red;
    text-align: center;
    border: 0px 0px 0px 0px;
}

.daysLeft {
    font-size: 2em;
    color: blue;
    text-align: center;
    border: 0px 0px 0px 0px;
}

body {
    font-family: Batik-regular
}