.fg-button {
    clear:left;
    margin:0 0px 0px 0px;
    padding: 0em 2.5em 0em 2.5em;
    text-decoration:none !important;
    cursor:pointer;
    position: relative;
    text-align: center;
    zoom: 1
}

.whiteOnBlack {
    color: white;
}

#dothespreadtitle {
    float: left;
}

#google_translate_element {
    float: right
}

.dothespreadfont {
    font-size: 3.5em;
    width: 100%;
    text-align: left;
    color: #cc0000;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

.smallbluefont {
    font-family: 'Batik';
	font-size: 2em;
    width: 100%;
    text-align: right;
    color: #336600
}

#countdownclock {
    vertical-align: top;
    float: left;
}

#mainsection {
    float: left;
    width: 700px;
    font-size: 1.0em;
}

#mainsectiontable th {
 	width: 700px;
    background-color: #cfcfcf
	
}

#mainsectiontable td {
    vertical-align: top;
    text-align: center;
}

#social {
    align: center
}

.socialicon {
    font-size: 1em;
    color: #336600;
	text-align: center;
	align: center;
	border: 0px;
}

.dothespreadcolor {
    color: #cc0000;
}

.thedate {
    font-size: 1.75em;
    color: #cc0000;
    text-align: center;
    border: 0px 0px 0px 0px;
}

.thetime {
    font-size: 1.75em;
    color: #cc0000;
    text-align: center;
    border: 0px 0px 0px 0px;
}

.daysLeft {
    font-size: 2em;
    color: #336600;
    text-align: center;
    border: 0px 0px 0px 0px;
}

.contentpanel {
	background-color: #cfcfcf;
	width:"100%";
	padding:10px 15px;
	text-align:left;
	vertical-align:center;
}

#videopanel {
	background-color: #cfcfcf;
	width:"100%";
	padding:10px 10px 10px 10px; 
	text-align:center;
	vertical-align:center;
}

body {
    font-family: "Batik"
}

.video_thumbnail {
   margin-left: 0 ! important;
}

.videos_container {
    float: center;
    margin-bottom: 2em;
	text-align: center;
    width: 100%;
}

.video_thumbgroup {
    float: left;
    width: 222px;
    height: 175px;
    line-height: 1.1em;
    font-size: 11px;
    display: inline;
    overflow: hidden;
}

.video_thumbgroup_mobile {
    float: left;
    width: 350px;
    height: 250px;
    line-height: 1.1em;
    font-size: 12px;
    display: inline;
    overflow: hidden;
}

.video_metadata {
    margin-top: 0;
    text-align: center;
    padding: 0 5% 0 5%;
}

.video_metadata_item {
    margin-bottom: auto ! important;
    margin-left: 0 ! important;
	text-align: center;
}

.msgError {
    background-color:  #ffffff;
    color: red
}

.hiddenErrMsg {
    display:none;
    color:red;
    background-color: white
}

@font-face {
  font-family: "Batik";
  src: url(batik.eot); /* IE */
}

@font-face {
  font-family: "Batik";
  src: url(batik.ttf) format("truetype");

}
