<%=render :partial => 'gallery'%>

<script>

    window.onload = function() {

        Shadowbox.open({
            content:    '<div class="whiteOnBlack"><%=t :uploaded_message %> <br><br>(Id:<%=@video_id%>)</div>',
            player:     "html",
            title:      "<%=t :video_uploaded_form_title%>",
            modal:      true,
			animate: 	false,
            height:     400,
            width:      400
        });

    };
</script>