<%=render :partial => 'gallery'%>

<script>
    Shadowbox.init({
        skipSetup: true
    });

    window.onload = function() {

        Shadowbox.open({
            content:    '<div class="whiteOnBlack"><%=t :uploaded_message %> (Id:<%=@video_id%>)</div>',
            player:     "html",
            title:      "<%=t :video_uploaded_form_title%>",
            modal:      true,
            height:     200,
            width:      450
        });

    };
</script>