<div id="mainsection">
    <table id="mainsectiontable">
        <tr>
            <td>
              <%= render :partial => 'shared/menu',
                         :locals => {
                                 :videos_state => 'ui-state-default',
                                 :home_state => 'ui-state-default',
                                 :endorsements_state => 'ui-state-default',
                                 :city_state => 'ui-state-active',
                         }
              %>
            </td>
        </tr>
	</table>
	<table cellpadding="10"  >
		<tr>
            <td class= "contentpanel">Click <a href="/images/DoTheSpread.pdf" target="_blank">here</a> to download the <span class="dothespreadcolor">DoTheSpread</span> flyer you see below.
            </td>
        </tr>
        <tr>
            <td><a href="/images/DoTheSpread.pdf" target="_blank">
				<img src="/images/city_spread.png"
					border="0" alt="" width="680" />
					</a></td>
        </tr>
    </table>
</div>

<div style="clear: both;"></div>