<div id="mainsection">
    <table id="mainsectiontable">
        <tr>
            <td colspan="2">
              <%= render :partial => 'shared/menu',
                         :locals => {
                                 :videos_state => 'ui-state-default',
                                 :home_state => 'ui-state-default',
                                 :endorsements_state => 'ui-state-active',
                         }
              %>
            </td>
        </tr>
        <tr>
            <td class= "contentpanel">Building Young Minds would like to that our friends who support <span class="dothespreadcolor">Do The Spread</span> and our other activities.
            </td>
        </tr>
      </table>
	
	<table id="sponsorstable">
        <tr><td align="right">      
	        <tr><td align="left">      
					<a href="http://www.thoughtworks.com/" >
					<img src="/images/tw_logo.png" 
					border="0" alt="" /></a>
        </td></tr>

        <tr><td align="center">      
				<a href="http://www.dinosaurbarbque.com" target="_blank">
				<img class="alignnone size-thumbnail wp-image-259" title="PikeletÃaround"
				src="http://www.buildingyoungminds.org/wp-content/uploads/2011/02/Dinologo3-150x150.jpg"
				border="0" alt="" width="150" height="150" /></a>
        </td></tr>

        <tr><td align="left">      
				<a href="http://www.uprinting.com/" target="_blank">
				<img src="http://uprinting.s3.amazonaws.com/images/234x60-uprinting.png" 
				border="0" alt="" /></a>
        </td></tr>

    </table>
</div>

<div style="clear: both;"></div>