<div id="mainsection">
    <table id="mainsectiontable">
        <tr>
            <td colspan="2">
              <%= render :partial => 'shared/menu',
                         :locals => {
                                 :videos_state => 'ui-state-default',
                                 :home_state => 'ui-state-active',
                                 :endorsements_state => 'ui-state-default',
                         }
              %>
            </td>
        </tr>
        <tr>
            <td>
                <iframe id="youtube" title="YouTube video player" type="text/html"
                        width="500" height="400" src="http://www.youtube.com/embed/z8TaJjt-NkU?autoplay=0"
                        frameborder="0" allowFullScreen></iframe>
            </td>
            <td><span class="dothespreadcolor">The Spread</span> is a dance movement that will unite the world on World <span class="dothespreadcolor">AIDS</span> Day 2011. The students of Building Young Minds created this dance movement to spread awareness for victory over the <span class="dothespreadcolor">virus</span>. You are watching the Building Young Minds submission to United Nations Millennium Development Goals Youth Film Festival.
            </td>
        </tr>
        <tr>
            <td colspan=2>
              <!--  <div id="map" style="margin:0 auto;width:700px;height:400px">  -->

		 <img src="images/map.png" width="700" >
	
            </td>
        </tr>
    </table>
</div>

<div style="clear: both;"></div>

<script>
    jQuery(document).ready(function() {
        initialize();
    });
    var newyorkcity = new google.maps.LatLng(40.71435280, -74.002720);

    var markers = [];
    var iterator = 0;

    var map;

    function initialize() {

        var mapOptions = {
            zoom: 1,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: new google.maps.LatLng(0, 0)
        };

        map = new google.maps.Map(document.getElementById("map"),
                mapOptions);
        drop();
    }

    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }

    function drop() {
        clearMarkers();
        iterator = 0;
        for (var i = 0; i < registrations.length; i++) {
            setTimeout(function() {
                addMarker();
            }, i * 200);
        }
        //setTimeout("drop()", 3000);

    }

    function addMarker() {
        markers.push(new google.maps.Marker({
            position: registrations[iterator],
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP
        }));
        iterator++;
    }

</script>

