<div id="mainsection">
    <table id="mainsectiontable">
        <tr>
            <td>
              <%= render :partial => 'shared/menu',
                         :locals => {
                                 :videos_state => 'ui-state-default',
                                 :home_state => 'ui-state-active',
                                 :endorsements_state => 'ui-state-default',
                         }
              %>
            </td>
        </tr>    
 	</table>
	<table cellpadding="10" class="contentpanel" >
        <tr >
            <td >
                <iframe id="youtube" title="YouTube video player" type="text/html"
                        width="400" height="225" src="http://www.youtube.com/embed/z8TaJjt-NkU?autoplay=1"
                        frameborder="0" allowFullScreen></iframe>
            </td>
            <td><span class="dothespreadcolor">The Spread</span> is a dance movement that will unite the world on <span class="dothespreadcolor">World AIDS Day 2011</span>. The students of Building Young Minds created this dance movement to spread awareness and claim victory over the <span class="dothespreadcolor">virus</span>.<BR>You are watching the Dance Instruction Film. To see the United Nations Millennium Development Goals Youth Film Festival submission go to the video gallery.
            </td>
        </tr>

		</table>
    <table>
        <tr>
            <td> <img src="/images/map.png" width="700" > </td>
        </tr>
      </table>
</div>

<div style="clear: both;"></div>