<!DOCTYPE html>
<html>
<head>
  <title>Do The Spread | Global Flash Mob</title>
    <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/js/knockout-1.2.1.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/js/registrations.js"></script>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript" src="/js/fg.menu.js"></script>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css">
    <link type="text/css" href="/css/fg.menu.css" media="screen" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/custom-theme/jquery-ui-1.8.16.custom.css"/>
</head>
<body>
<div>
    <div id="google_translate_element"></div>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div class="dothespreadfont"><img src="/images/dts_banner.png" width="400"></div>

    <div style="clear: both;"><p></p></div>
</div>
<div id=countdownclock>
    <div data-bind="template: { name:'countdownClockTemplate'}"></div>
    <div>
        <script>
            new TWTR.Widget({
                version: 2,
                type: 'search',
                search: 'dothespread',
                interval: 30000,
                title: '',
                subject: 'Do the spread',
                width: 200,
                height: 200,
                theme: {
                    shell: {
                        background: '#C2D1B2',
                        color: '#ffffff'
                    },
                    tweets: {
                        background: '#ffffff',
                        color: 'black',
                        links: '#cc0000'
                    }
                },
                features: {
                    scrollbar: false,
                    loop: true,
                    live: true,
                    behavior: 'default'
                }
            }).render().start();
        </script>
    </div>

<div class="socialicon">
	
	
	<table width= "220"> </table>
	
	<table width= "200">
	  <tr>
		
	    <td><a href="http://www.facebook.com/BuildingYoungMinds" target="_blank">
				<img class="socialicon" src="/images/facebook-red.png"  name="facebook_hover"
		onMouseOver="document.images['facebook_hover'].src='/images/facebook-red-mo.png'"
		onMouseOut="document.images['facebook_hover'].src='/images/facebook-red.png'"
	  width="50" height = "50" />
		</a></td>
		
	    <td><a href="http://twitter.com/share?url=http://dothespread.com&via=bym_ny">
			<img class="socialicon" src="/images/twitter-red.png"  name="twitter_hover"
		onMouseOver="document.images['twitter_hover'].src='/images/twitter-red-mo.png'"
		onMouseOut="document.images['twitter_hover'].src='/images/twitter-red.png'"
	 width="50" height = "50" />
		</a></td>

	    <td><a href="mailto:?subject=Check out this site&body=The Spread is a dance movement that will unite the world on World AIDS Day 2011. %0A%0A Check out the site www.dothespread.com">
			<img class="socialicon" src="/images/email-red.png"  name="email_hover"
			onMouseOver="document.images['email_hover'].src='/images/email-red-mo.png'"
			onMouseOut="document.images['email_hover'].src='/images/email-red.png'"
		 width="50" height = "50" />
		</a></td>
		
	  </tr>
	   <tr><td colspan="3">   
		<a href="http://www.buildingyoungminds.org" target="_blank">
		 <img class="socialicon" src="http://www.buildingyoungminds.org/wp-content/themes/smallfolio//images/logo.jpg"
		 width="150"   alt="">
		</a></td></tr>
       <tr><td colspan="3">© 2011<br><a href="http://www.buildingyoungminds.org" target="_blank">Building Young Minds</a></td></tr>	
	</table>
</div>	
</div>

<script id="countdownClockTemplate" type="text/html">

    <div class="thedate"><img src="/images/dec1_datetime.png" width="200"></div>
	<div class="daysLeft">${clockModel.getDaysLeft()} days</div>
</script>

<script>


        var clockModel = {
            getDaysLeft: function() {
                var aidsDay = new Date(2011, 11, 1);
                return Math.ceil((aidsDay.getTime() - (new Date()).getTime()) / (24 * 3600 * 1000));
            }
        }
        ko.applyBindings(clockModel);

</script>
<%= yield %>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26529542-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>
